<section>
  <h2>Publicações mais recentes</h2>
  <ul>
    {{#each @posts as |post|}}
      <li>
        <h3>
          <LinkTo @route="posts.post" @model={{post.id}}>
            {{post.title}}
          </LinkTo>
        </h3>
        <LinkTo @route="authors.author" @model={{post.Author.id}}>
          {{post.Author.name}}
        </LinkTo>
        <span>{{post.views}} visualizações</span>
      </li>
    {{/each}}
  </ul>
</section>
