<form {{on "submit" (fn this.save this.post)}}>
  <div>
    <label for="post-title">Título</label>
    <Input id="post-title" @type="text" @value={{this.post.title}}/>
  </div>

  <div>
    <label for="post-body">Conteúdo</label>
    <Textarea id="post-body" @value={{this.post.body}}/>
  </div>

  <div>
    <label for="post-author">Autor</label>
    <select
      id="post-author"
      disabled={{not this.authors}}
      {{did-insert this.loadAuthors}}
      {{on "change" (set-target-value this "post.author_id")}}
    >
      <option value="">{{unless this.authors "Carregando..."}}</option>
      {{#each this.authors as |author|}}
        <option value={{author.id}} selected={{eq author.id this.post.author_id}}>{{author.name}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit">Salvar</button>
</form>
